.box {
  position: relative;
  border: 1px dotted #ccc;
}

.resizer {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  pointer-events: auto
}

.top-left {
  top: -4px;
  left: -4px;
  cursor: nwse-resize;
}

.top-right {
  top: -4px;
  right: -4px;
  cursor: nesw-resize;
}

.bottom-left {
  bottom: -4px;
  left: -4px;
  cursor: nesw-resize;
}

.bottom-right {
  bottom: -4px;
  right: -4px;
  cursor: nwse-resize;
}