.home {
  height: 100%;
  color: #fff;
  font-size: 12px;
  cursor: default;
  background-color: #000000;
  .siderLeft {
    margin: 4px 0;
    background-color: transparent;
  }
  .siderRight {
    margin: 4px 0;
    background-color: transparent;
  }
  .main {
    display: flex;
    flex-direction: column;
    margin: 0 4px;
  }
}