@mixin liveCommonStyles {
  background: #2B2B2C;
  border: 1px solid #0E0E0F;
  border-radius: 6px;
}

.liveTool {
  display: flex;
  flex-direction: column;
  height: 20%;
  margin: 2px;
  .title {
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #D8D8D9;
    @include liveCommonStyles;
  }
  .content {
    flex: 1;
    margin-bottom: 8px;
    @include liveCommonStyles;
  }
}