.display {
  position: relative;
  height: 340px;
  background-color: rgb(240, 234, 234);
}
.material {
  display: flex;
  height: 200px;
  background-color: rgb(240, 234, 234);
}
.captureWapper {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 180px;
}
.videoWapper {
  display: flex;
  flex-direction: column;
  .videoDropdown {
    width: 240px;
    height: 40px;
  }
}
