@mixin tempCommonStyles {
  background: #2B2B2C;
  border: 1px solid #0E0E0F;
  border-radius: 6px;
}

.temp {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: 0 2px;
  .tempTitle {
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #D8D8D9;
    @include tempCommonStyles;
  }
  .tempContent {
    flex: 1;
    @include tempCommonStyles;
  }
}